@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #000000;
    color: #f5f5f5 ;
    box-sizing: border-box;
}

strong{
    color: #ED8E39;
    
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

.apresentacao__links{
    display: flex ;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    
}

.apresentacao__links__link{
    
    width: 280px;
    border-radius: 16px;
    color: #000000;
    padding: 16px 0;
    
}


.apresentacao__links__link:first-child{
    background-color:#F5629A;
}
.apresentacao__links__link:last-child{
    background-color:#6AB675;
}


